<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow " href="index" aria-expanded="false">
                   
                    <span class="nav-text">Dashboard</span>
                </a>
            
            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                 
                    <span class="nav-text">Administrateur </span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="ajouteradmin">Ajouter Admin</a></li>
                    <li><a href="liste-admin">Liste Admin</a></li>	
                    
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                   
                    <span class="nav-text">Partner</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="ajouterpartenaire">Ajouter Partner</a></li>
                    <li><a href="listepartenaire">Liste Partner</a></li>
                    
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                   
                    <span class="nav-text">Hebergement</span>
                </a>
                <ul aria-expanded="false">
                    
                    <li><a href="listeproduit">Liste Hebergement</a></li>	
                  
                </ul>
            </li>
           

           


      
            